---
import Layout from "@layouts/Layout.astro";
---

<Layout title="moda link | about as">
  <div class="flex flex-col gap-y-5  max-w-3xl  pb-10 mx-auto">
    <header class="fixed w-full max-w-2xl py-3 bg-white px-5">
      <h1 class="flex justify-between">
        <span class="font-pacifico text-3xl font-medium">Moda link</span>
        <a href="/" class="flex text-xl items-center">
          🥱
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
        </a>
        <!-- <span class="text-sm">about as</span> -->
      </h1>
    </header>
    <!-- <h2 class="text-black font-bold text-4xl">
      ¡Hola! Soy Yelsiño, el fundador de [Nombre del Sitio]
    </h2> -->

    <section class="mt-16 flex flex-col gap-y-5 px-5 text-lg text-gray-600  ">
      <div class="">
        <h3 class="text-black font-bold text-2xl">Nuestra Pasión</h3>
        <p>
          En <span class="font-bold text-color_orange">moda link</span>, nos
          dedicamos a seleccionar cuidadosamente ropa de alta calidad que
          refleja estilo y personalidad para hombres y mujeres con buen gusto.
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">Nuestra Misión</h3>
        <p>
          Ser tu confidente en el mundo de la moda:** No vendemos directamente
          los productos aquí. Te ofrecemos una experiencia única al presentar
          las prendas más destacadas de marcas reconocidas y emergentes. Al
          seleccionar un artículo, te redirigimos al sitio web correspondiente
          para una compra segura.
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">
          Conectando Estilos y Tendencias
        </h3>
        <p>
          Nos esforzamos por ser el puente que conecta tu estilo personal con
          las últimas tendencias, ofreciéndote una amplia variedad de prendas de
          moda que se ajustan a tus gustos y preferencias.
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">
          Historia de <strong class="text-2xl font-bold">moda link</strong>
        </h3>
        <p>
          Moda link fue fundado en 2023 con el objetivo de brindar solución a
          compras de ropa de dudosa precedencia. Desde entonces, hemos logrado
          ser un sitio de referencias más vistas en los ultimos meses.
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">Nuestro Equipo y Valores</h3>
        <p>
          Somos un equipo de 3 apasionados expertos en moda comprometidos con
          la innovación y la excelencia en el servicio al cliente. Nos
          esforzamos por fomentar la autoexpresión a través de la moda y
          garantizar una experiencia de compra sin complicaciones para nuestros
          usuarios.
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">Únete a Nuestra Comunidad</h3>
        <p>
          Te invitamos a unirte a nuestra creciente comunidad que valora la
          autenticidad, la calidad y la expresión a través de la moda. ¡Explora,
          descubre y encuentra tu estilo único con nosotros!
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">Mantente Actualizado</h3>
        <p>
          ¡Síguenos en nuestras redes sociales para estar al tanto de las
          últimas novedades y tendencias!
        </p>
      </div>

      <div>
        <h3 class="text-black font-bold text-2xl">Contacto</h3>
        <p>
          Si tienes alguna consulta, no dudes en contactarnos a través de
           <span class="text-blue-500">yelisino321@gmail.com</span> o llámanos al [número de teléfono
          de la empresa]. Estaremos encantados de ayudarte.
        </p>
      </div>
    </section>
  </div>

</Layout>
