---
import Layout from "@layouts/Layout.astro";
---

<Layout 
    title="Sobre Moda link"
    description="En moda link nos dedicamos a seleccionar cuidadosamente ropa de alta calidad que refleja estilo y personalidad para hombres y mujeres con buen gusto."  
  >
  <div class="flex flex-col gap-y-5  max-w-3xl  w-full  pb-10 mx-auto">
    <header class="fixed w-full max-w-3xl py-3 bg-white px-5 flex justify-between ">
      <h1 class="flex justify-between font-pacifico text-2xl text-black font-bold">
        Moda Link
      </h1>
      <a href="/" class="flex items-center">
        🥱
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
      </a>
    </header>
   

    <section class="mt-16 flex flex-col gap-y-5 px-5 text-lg text-gray-600  ">
      <div class="">
        <h3 class="text-gray-700 font-bold">Nuestra Pasión</h3>
        <p>
          En <span class="font-bold text-color_orange">moda link</span>, nos
          dedicamos a seleccionar cuidadosamente ropa de alta calidad que
          refleja estilo y personalidad para hombres y mujeres con buen gusto.
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">Nuestra Misión</h3>
        <p>
          Ser tu confidente en el mundo de la moda:** No vendemos directamente
          los productos aquí. Te ofrecemos una experiencia única al presentar
          las prendas más destacadas de marcas reconocidas y emergentes. Al
          seleccionar un artículo, te redirigimos al sitio web correspondiente
          para una compra segura.
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">
          Conectando Estilos y Tendencias
        </h3>
        <p>
          Nos esforzamos por ser el puente que conecta tu estilo personal con
          las últimas tendencias, ofreciéndote una amplia variedad de prendas de
          moda que se ajustan a tus gustos y preferencias.
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">
          Historia de <strong class= font-bold">moda link</strong>
        </h3>
        <p>
          Moda link fue fundado en 2023 con el objetivo de brindar solución a
          compras de ropa de dudosa precedencia. Desde entonces, hemos logrado
          ser un sitio de referencias más vistas en los ultimos meses.
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">Nuestro Equipo y Valores</h3>
        <p>
          Somos un equipo de 3 apasionados expertos en moda comprometidos con
          la innovación y la excelencia en el servicio al cliente. Nos
          esforzamos por fomentar la autoexpresión a través de la moda y
          garantizar una experiencia de compra sin complicaciones para nuestros
          usuarios.
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">Únete a Nuestra Comunidad</h3>
        <p>
          Te invitamos a unirte a nuestra creciente comunidad que valora la
          autenticidad, la calidad y la expresión a través de la moda. ¡Explora,
          descubre y encuentra tu estilo único con nosotros!
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">Mantente Actualizado</h3>
        <p>
          ¡Síguenos en nuestras redes sociales para estar al tanto de las
          últimas novedades y tendencias!
        </p>
      </div>

      <div>
        <h3 class="text-gray-700 font-bold">Contacto</h3>
        <p>
          Si tienes alguna consulta, no dudes en contactarnos a través de
           <span class="text-blue-500">yelisino321@gmail.com</span> Estaremos encantados de ayudarte.
        </p>
      </div>

      <ul class="flex gap-x-5">
        <li>
          <a  class="flex gap-x-3" href="" aria-label="visita nuestro facebook"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-meta text-blue-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
              ></path><path
                d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
              ></path></svg
            >Facebook</a
          >
        </li>
        <li>
          <a  class="flex gap-x-3" href="https://www.tiktok.com/@modalink?_t=8iK6YL7GYRZ&_r=1" aria-label="visita nuestro tick tock">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-tiktok text-black"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
              ></path></svg
            >Tick tock</a
          >
        </li>
        <li>
          <a  class="flex gap-x-3" href="https://www.instagram.com/modalink?igshid=OGQ5ZDc2ODk2ZA==" aria-label="visita nuestro instagram"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram text-rose-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            >instagram</a
          >
        </li>
      </ul>
    </section>
  </div>

</Layout>
