---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";


return Astro.redirect("/hombre/camiseta");

---

<Layout 
  title="Moda Link"
  description="En moda link, nos dedicamos a seleccionar cuidadosamente ropa de alta calidad que refleja estilo y personalidad para hombres y mujeres con buen gusto."
  >
  <div class="h-full">
    <Header />
    <main class="mt-20 flex">

      <section
        class="flex flex-wrap place-content-center mx-auto gap-3 sm:gap-10 items-center"
      >
        
      </section>
    </main>
    <Footer />
  </div>
</Layout>


