---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";


return Astro.redirect("/hombre/camiseta");

---

<Layout title="Moda Link">
  <div class="h-full">
    <Header />
    <main class="mt-20 flex">

      <section
        class="flex flex-wrap place-content-center mx-auto gap-3 sm:gap-10 items-center"
      >
        
      </section>
    </main>
    <Footer />
  </div>
</Layout>


