---
import { Image } from "astro:assets"


const { description, image, urlAfiliado, link } = Astro.props;
---

<div class=" rounded-sm relative  w-40 sm:w-60 overflow-hidden ">
  <div class=" ">
    <a
      href={urlAfiliado ?? link}
      target="_blank"
      aria-label={description}
      class="relative  w-full "
    >
      <Image src={image} alt={description} width="240" height="320" format="webp"  />
    </a>
    
  </div>
  <p class="description text-gray-500 text-sm select-text">
    {description}
  </p>
</div>

<style>
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Muestra las dos primeras líneas */
    max-width: 200px;
  }
</style>
