<div
  class="flex flex-col fixed bg-gray-100 left-0 top-1/2 transform -translate-y-1/2 text-gray-600"
>
  <p class="flex items-center -rotate-45 py-5 px-2">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 512 512"
      height="30px"
      width="30px"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M341.52 285.56c33.65 0 82.34-6.94 82.34-47 .22-6.74.86-1.82-20.88-96.24-4.62-19.15-8.68-27.84-42.31-44.65-26.09-13.34-82.92-35.37-99.73-35.37-15.66 0-20.2 20.17-38.87 20.17-18 0-31.31-15.06-48.12-15.06-16.14 0-26.66 11-34.78 33.62-27.5 77.55-26.28 74.27-26.12 78.27 0 24.8 97.64 106.11 228.47 106.11M429 254.84c4.65 22 4.65 24.35 4.65 27.25 0 37.66-42.33 58.56-98 58.56-125.74.08-235.91-73.65-235.91-122.33a49.55 49.55 0 0 1 4.06-19.72C58.56 200.86 0 208.93 0 260.63c0 84.67 200.63 189 359.49 189 121.79 0 152.51-55.08 152.51-98.58 0-34.21-29.59-73.05-82.93-96.24"
      ></path></svg
    >
  </p>

  <p class="flex items-center py-5 px-2">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 256 256"
      height="30px"
      width="30px"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M227.85,213.52l-22-176A20,20,0,0,0,186,20H70A20,20,0,0,0,50.15,37.52l-22,176A20,20,0,0,0,48,236H88.69A19.94,19.94,0,0,0,108.07,221l19.93-77,19.91,76.94A20,20,0,0,0,167.31,236H208a20,20,0,0,0,19.85-22.48ZM190,104.23A28.05,28.05,0,0,1,176.29,84h11.18ZM182.47,44l2,16H71.53l2-16ZM68.53,84H79.71A28,28,0,0,1,66,104.22ZM85.6,212H52.53l10.14-81.11A52.1,52.1,0,0,0,103.83,84H116V94.47Zm84.81,0L140,94.47V84h12.17a52.09,52.09,0,0,0,41.16,46.88L203.47,212Z"
      ></path></svg
    >
  </p>
  <p
    class="flex items-center py-5 px-2 bg-color_orange w-full h-full text-black"
  >
    <!-- <span class="text-sm">shirt</span> -->
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      height="30px"
      width="30px"
      xmlns="http://www.w3.org/2000/svg"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M15 4l6 2v5h-3v8a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-8h-3v-5l6 -2a3 3 0 0 0 6 0"
      ></path><path d="M10.5 11h2.5l-1.5 5"></path></svg
    >
  </p>
  <p class="flex items-center py-5 px-2">
    <!-- <span class="text-sm">shoes</span> -->
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      height="30px"
      width="30px"
      xmlns="http://www.w3.org/2000/svg"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 6h5.426a1 1 0 0 1 .863 .496l1.064 1.823a3 3 0 0 0 1.896 1.407l4.677 1.114a4 4 0 0 1 3.074 3.89v2.27a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1z"
      ></path><path d="M14 13l1 -2"></path><path d="M8 18v-1a4 4 0 0 0 -4 -4h-1"
      ></path><path d="M10 12l1.5 -3"></path></svg
    >
  </p>
  <p class="flex items-center py-5 px-2">
    <!-- <span class="text-sm">shoes</span> -->
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 512 512"
      height="30px"
      width="30px"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M416 256c0-51.001-24.004-96.001-60.996-125L336 16H176l-19.004 115C120.004 159.999 96 204.999 96 256c0 50.996 24.004 95.996 60.996 125L176 496h160l19.004-115C391.996 351.996 416 306.996 416 256zm-280 0c0-66.001 54.004-120 120-120s120 53.999 120 120c0 65.996-54.004 120-120 120s-120-54.004-120-120z"
      ></path></svg
    >
  </p>
</div>
