---
import Essentials from "./Essentials.astro";

const company_information = [
  {
    id: "1",
    text: "Acerca de Newchic",
    url: "https://www.newchic.com/tempages-BRAND/tid-3203.html?utmid=9841",
  },
  {
    id: "2",
    text: "Política de privacidad",
    url: "https://www.newchic.com/privacy-policy-hc172.html",
  },
  {
    id: "3",
    text: "Política de devoluciones",
    url: "https://www.newchic.com/return-and-refund-hc162.html",
  },
  {
    id: "4",
    text: "Términos y condiciones",
    url: "https://www.newchic.com/terms-and-conditions-hc174.html",
  },
  {
    id: "5",
    text: "Reclamaciones de propiedad intelectual",
    url: "https://www.newchic.com/intellectual-property-claims-hc175.html",
  },
  {
    id: "6",
    text: "Centro de ayuda",
    url: "https://www.newchic.com/impressum-hc233.html",
  },
];

const customer_service = [
  {
    id: "1",
    text: "Seguimiento de pedido",
    url: "https://www.newchic.com/account/orderlist.html",
  },
  {
    id: "2",
    text: "Preguntas frecuentes sobre envíos",
    url: "https://www.newchic.com/help_center/shipping-faq157.html",
  },
  {
    id: "3",
    text: "Preguntas frecuentes sobre pedidos",
    url: "https://www.newchic.com/help_center/order-faq167.html",
  },
  {
    id: "4",
    text: "Métodos de envío",
    url: "https://www.newchic.com/shipping-methods-hc160.html",
  },
  {
    id: "5",
    text: "Métodos de pago",
    url: "https://www.newchic.com/payment-methods-hc159.html",
  },
  {
    id: "6",
    text: "Búsquedas principales",
    url: "https://www.newchic.com/topsearch.html",
  },
];

const cooperation = [
  {
    id: "1",
    text: "Programa de blogueros",
    url: "https://www.newchic.com/blog/promotion.html",
  },
  {
    id: "2",
    text: "Afiliarse - Ganar dinero",
    url: "https://www.newchic.com/affiliateCenter.html?flagType=3",
  },
  {
    id: "3",
    text: "Programa VIP",
    url: "https://www.newchic.com/account/showVipIllustrate.html",
  },
  {
    id: "4",
    text: "Programa de envío directo",
    url: "https://www.newchic.com/dropship-program.html",
  },
  {
    id: "5",
    text: "Programa mayorista",
    url: "https://www.newchic.com/article/wholesaleShow.html",
  },
  {
    id: "6",
    text: "programa de estudiantes",
    url: "https://www.descuentoestudiante.com/newchic-descuento-estudiante-iframe",
  },
];
---

<footer class="bg-gray-50 py-4 pt-12">
  <!-- <Essentials /> -->

  <div class="flex justify-around flex-col sm:flex-row py-10 px-5 gap-10 text-gray-600">
    <section>
      <h3 class="text-black font-bold mb-5 uppercase">Información de la empresa</h3>
      <p class="flex flex-col gap-y-2">
        En Moda Link, nos apasiona seleccionar cuidadosamente ropa de alta calidad que refleje estilo y personalidad para hombres y mujeres con buen gusto. Nos esforzamos por ser un referente en el mundo de la moda, conectando estilos personales con las últimas tendencias.
      </p>
    </section>

    <section>
      <h3 class="text-black font-bold mb-5">SERVICIO AL CLIENTE</h3>
      <p>Nuestra misión es proporcionarte una experiencia de compra excepcional, ofreciendo información detallada sobre productos de alta calidad. Si tienes preguntas sobre nuestros artículos o deseas compartir tus comentarios, estaremos encantados de recibir tus opiniones. Aunque no ofrecemos asesoramiento personalizado, nos comprometemos a brindarte una experiencia de compra sin complicaciones. ¡No dudes en ponerte en contacto con nosotros para cualquier consulta!</p>
    </section>
    
 
    

    <section>
      <h3 class="text-black font-bold mb-5">COOPERACIÓN</h3>
      <p class="flex flex-col gap-y-2">
        En nuestra plataforma, valoramos profundamente la colaboración y el trabajo en equipo. Creemos firmemente en la importancia de establecer vínculos estrechos con nuestros clientes, proveedores y socios para ofrecer la experiencia más excepcional en moda. Nos comprometemos a forjar relaciones sólidas y a cultivar un ambiente de cooperación mutua. Siempre estamos abiertos a nuevas oportunidades de colaboración y a trabajar juntos para alcanzar metas compartidas.
      </p>
    </section>
  </div>
</footer>
