---
import en from "@locales/en/index.json";
import es from "@locales/es/index.json";
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<footer class="bg-gray-50 py-4 pt-12">

  <div
    class="flex justify-around flex-col sm:flex-row py-10 gap-10 text-gray-600 pl-10 sm:px-8"
  >
    <section class="max-w-xs">
      <div class="flex gap-x-2">
        <a href="/" class="font-bold font-pacifico text-black" aria-label={"Moda Link main page"}>Moda Link</a>
      </div>
    </section>

    {
      lang === "en"
        ? en.footer.sections.map((section) => (
            <section class="max-w-xs">
              <h3 class="text-black font-bold mb-4">{section.title}</h3>
              <p>
               {section.description}
              </p>
            </section>
          ))
        : es.footer.sections.map((section) => (
            <section class="max-w-xs">
              <h3 class="text-black font-bold mb-4">{section.title}</h3>
              <p>
                {section.description}
              </p>
            </section>
          ))
    }

    <section class="max-w-xs">
      <h3 class="text-black font-bold mb-4">Nuestras redes</h3>
      <ul class="flex flex-col gap-y-3">
        <li>
          <a
            target="_blank"
            class="flex gap-x-3"
            href="https://www.facebook.com/profile.php?id=100083366617462"
            aria-label="visita nuestro facebook"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-meta"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
              ></path><path
                d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
              ></path></svg
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="flex gap-x-3"
            target="_blank"
            href="https://www.tiktok.com/@modalink?_t=8iK6YL7GYRZ&_r=1"
            aria-label="visita nuestro tick tock"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-tiktok"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
              ></path></svg
            >Tick tock</a
          >
        </li>
        <li>
          <a
            class="flex gap-x-3"
            target="_blank"
            href="https://www.instagram.com/modalink?igshid=OGQ5ZDc2ODk2ZA=="
            aria-label="visita nuestro instagram"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            >instagram</a
          >
        </li>
      </ul>
    </section>
  </div>
</footer>
