---
import Essentials from "./Essentials.astro";

const company_information = [
  {
    id: "1",
    text: "Acerca de Newchic",
    url: "https://www.newchic.com/tempages-BRAND/tid-3203.html?utmid=9841",
  },
  {
    id: "2",
    text: "Política de privacidad",
    url: "https://www.newchic.com/privacy-policy-hc172.html",
  },
  {
    id: "3",
    text: "Política de devoluciones",
    url: "https://www.newchic.com/return-and-refund-hc162.html",
  },
  {
    id: "4",
    text: "Términos y condiciones",
    url: "https://www.newchic.com/terms-and-conditions-hc174.html",
  },
  {
    id: "5",
    text: "Reclamaciones de propiedad intelectual",
    url: "https://www.newchic.com/intellectual-property-claims-hc175.html",
  },
  {
    id: "6",
    text: "Centro de ayuda",
    url: "https://www.newchic.com/impressum-hc233.html",
  },
];

const customer_service = [
  {
    id: "1",
    text: "Seguimiento de pedido",
    url: "https://www.newchic.com/account/orderlist.html",
  },
  {
    id: "2",
    text: "Preguntas frecuentes sobre envíos",
    url: "https://www.newchic.com/help_center/shipping-faq157.html",
  },
  {
    id: "3",
    text: "Preguntas frecuentes sobre pedidos",
    url: "https://www.newchic.com/help_center/order-faq167.html",
  },
  {
    id: "4",
    text: "Métodos de envío",
    url: "https://www.newchic.com/shipping-methods-hc160.html",
  },
  {
    id: "5",
    text: "Métodos de pago",
    url: "https://www.newchic.com/payment-methods-hc159.html",
  },
  {
    id: "6",
    text: "Búsquedas principales",
    url: "https://www.newchic.com/topsearch.html",
  },
];

const cooperation = [
  {
    id: "1",
    text: "Programa de blogueros",
    url: "https://www.newchic.com/blog/promotion.html",
  },
  {
    id: "2",
    text: "Afiliarse - Ganar dinero",
    url: "https://www.newchic.com/affiliateCenter.html?flagType=3",
  },
  {
    id: "3",
    text: "Programa VIP",
    url: "https://www.newchic.com/account/showVipIllustrate.html",
  },
  {
    id: "4",
    text: "Programa de envío directo",
    url: "https://www.newchic.com/dropship-program.html",
  },
  {
    id: "5",
    text: "Programa mayorista",
    url: "https://www.newchic.com/article/wholesaleShow.html",
  },
  {
    id: "6",
    text: "programa de estudiantes",
    url: "https://www.descuentoestudiante.com/newchic-descuento-estudiante-iframe",
  },
];
---

<footer class="bg-gray-50 py-4 pt-12">
  <!-- <Essentials /> -->

  <div
    class="flex justify-around flex-col sm:flex-row py-10 gap-10 text-gray-600 pl-10 sm:px-8"
  >
    <section class="max-w-xs">
      <div class="flex gap-x-2">
        <h2 class="font-bold font-pacifico text-black">Moda Link</h2>
      </div>
    </section>
    <section class="max-w-xs">
      <h3 class="text-black font-bold mb-5 uppercase">Nuestro proposito</h3>
      <p class="flex flex-col gap-y-2">
        En Moda Link, nos apasiona seleccionar cuidadosamente ropa de alta
        calidad que refleje estilo y personalidad para hombres y mujeres con
        buen gusto. Nos esforzamos por ser un referente en el mundo de la moda,
        conectando estilos personales con las últimas tendencias.
      </p>
    </section>

    <section class="max-w-xs">
      <h3 class="text-black font-bold mb-5">Nuestra comunidad</h3>
      <p>
        Únete a nuestra comunidad de entusiastas de la moda y descubre las
        prendas más populares y apreciadas en la red. Explora las tendencias,
        comparte tus opiniones y encuentra inspiración en nuestra plataforma
        dedicada a las mejores selecciones de ropa en línea.
      </p>
    </section>

    <section class="max-w-xs  w-full">
      <h3 class="text-black font-bold mb-5">REDES</h3>
      <ul class="flex flex-col gap-y-3">
        <li>
          <a  target="_blank" class="flex gap-x-3" href="https://www.facebook.com/profile.php?id=100083366617462" aria-label="visita nuestro facebook"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-meta"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
              ></path><path
                d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
              ></path></svg
            >Facebook</a
          >
        </li>
        <li>
          <a  class="flex gap-x-3"  target="_blank"  href="https://www.tiktok.com/@modalink?_t=8iK6YL7GYRZ&_r=1" aria-label="visita nuestro tick tock">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-tiktok"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
              ></path></svg
            >Tick tock</a
          >
        </li>
        <li>
          <a  class="flex gap-x-3"  target="_blank"  href="https://www.instagram.com/modalink?igshid=OGQ5ZDc2ODk2ZA==" aria-label="visita nuestro instagram"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            >instagram</a
          >
        </li>
      </ul>
    </section>
  </div>
</footer>
