---
import PickLanguage from "./PickLanguage.astro";
import MenWomen from "./MenWomen.astro";
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { pathname } = Astro.url;
---

<header
  class="bg-white py-4 max-w-[2000px] px-5  fixed w-full top-0 z-30 flex flex-col gap-y-3"
>
  <div class="flex justify-between items-center">
    <!-- <MenWomen client:visible ubication={pathname} /> -->
    <MenWomen ubication={pathname} />

    <a
      href={lang === "en" ? `/${lang}` : "/"}
      aria-label="moda link, pagina de incio"
      class="nombre"
    >
      <span class="text-lg font-semibold text-gray-800 font-pacifico">
        Moda Link
      </span>
    </a>

    <PickLanguage />
  </div>
  <!-- <ul class="flex gap-x-2 items-center ">
    <li class="px-1 bg-color_pink2 text-color_pink1">clasicas</li>
    <li class="px-1 bg-color_pink2 text-color_pink1">mangas</li>
    <li class="px-1 bg-color_pink2 text-color_pink1">formales</li>
    <li class="px-1 bg-color_pink2 text-color_pink1">deportivas</li>
  </ul> -->
</header>
