---
import PickLanguage from "./PickLanguage.astro";
import MenWomen from "./MenWomen.astro";
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { pathname } = Astro.url;
---

<header
  class="bg-white py-4 max-w-[2000px] px-5 flex justify-between items-center fixed w-full top-0 z-20"
>
  <!-- <MenWomen client:visible ubication={pathname} /> -->
  <MenWomen ubication={pathname} />

  <a href={lang === "en" ? `/${lang}` : "/"} aria-label="moda link, pagina de incio" class="nombre">
    <h1 class="text-lg font-semibold text-gray-800 font-pacifico">Moda Link</h1>
  </a>

  <PickLanguage />
</header>
